{% extends '/base.html.twig' %}

{%- block init -%}
  {{- parent() -}}
  {%- do app_page_title.setSubtitle('Explore. Settle. Trade. Conquer.') -%}
{%- endblock -%}

{% block stylesheets -%}
  <link rel="stylesheet" href="{{ asset('css/website.css') }}">
{%- endblock %}

{% block body %}

  <header>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-9">
          <img src="{{ asset('img/cave_art.thumb.webp') }}" width="150" height="150" alt="" class="float-start">
          <h1>Shintolin</h1>
          <p class="tagline">Explore. Settle. Trade. Conquer.</p>
        </div>
        <div class="col-lg-3 d-none d-lg-flex flex-column align-items-end">
          <p class="login"><a href="#TODO-login" class="btn btn-light">Login</a></p>
          <table class="stats">
            <tbody>
            <tr>
              <th><a href="{{ path('app_website_leaderboard', {metric: 'frags'}) }}">Active Players</a></th>
              <td>{{ activePlayersCount }}</td>
            </tr>
            <tr>
              <th><a href="{{ path('app_website_leaderboard', {metric: 'bigtowns'}) }}">Settlements</a></th>
              <td>{{ activeSettlementsCount }}</td>
            </tr>
            <tr>
              <th>Map Size</th>
              <td>{{ tileCount }}</td>
            </tr>
            <tr>
              <th><a href="{{ path('app_website_leaderboard', {metric: 'younguns'}) }}">Newest Player</a></th>
              <td><a href="#TODO-character-profile">{{ newestPlayer.name }}</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <article class="marketing col-lg-7">
        <p class="summary">
          Hunt, or farm. Fight, or heal. Build, or conquer.
          Join fellow players in a free, persistent browser-based world.
        </p>
        <p>
          Humanity has wandered the world of Shintolin for millenia, hunting and gathering to survive.
          But some grow tired of the nomadic life, and are beginning to settle down.
          Forests make way for farmland, villages grow into towns and cities,
          and civilisations seek wealth, power, and glory.
        </p>
        <ul>
          <li>Work with other players to build a village, or try and survive the dangers of the wilderness</li>
          <li>Find your fortune through farming, crafting, or trading</li>
          <li>Explore a dynamic world, where every item, building and town is player-created</li>
          <li>Shape the landscape, and write your own chapter in the history of Shintolin</li>
        </ul>
        <p class="screenshots">
          <a href="{{ asset('img/screenshot_full.png') }}">
            <img src="{{ asset('img/screenshot_full.thumb.webp') }}" width="200" height="165" alt="Screenshot of user interface">
          </a>
        </p>
      </article>
      <article class="register col-lg-5">
        <h2>Create Your Account</h2>
        <p><a href="#TODO-login">Already have an account? Log in here.</a></p>
        <form action="#TODO-register" method="POST">
          <fieldset>
            <p>
              <label for="register-email" class="form-label">Email Address</label>
              <input id="register-email" type="email" name="email" class="form-control" required>
            </p>
            <p>
              <label for="register-password" class="form-label">Password</label>
              <input id="register-password" type="password" name="password" class="form-control" required>
            </p>
            <p>
              <label for="register-password2" class="form-label">Re-enter Password</label>
              <input id="register-password2" type="password" name="password2" class="form-control" required>
            </p>
            <p class="submit">
              <button type="submit" class="btn btn-light ms-auto">Play Now!</button>
            </p>
          </fieldset>
        </form>
      </article>
    </div>
  </div>

{% endblock %}
