{% extends 'website/_layout.html.twig' %}

{%- block init -%}
  {{- parent() -}}
  {%- do app_page_title.setPage('Release Notes') -%}
{%- endblock -%}

{% block content %}
  <header class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Release Notes</h1>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="row">
      {% for note in notes %}
      <article id="{{ note.id }}" class="release-note col-12">
        <h2>
          <a href="#{{ note.id }}">
            {{ note.createdAt|format_date(dateFormat='relative_full') }}
          </a>
        </h2>
        <div class="note">{{ note.htmlContent|raw }}</div>
      </article>
      {% endfor %}
    </div>
  </div>
{% endblock %}
