{%- block init -%}
  {%- do app_page_title.setSeparator(' – ') -%} {# U+2013 EN DASH #}
  {%- do app_page_title.setRoot('Shintolin') -%}
{%- endblock -%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ app_page_title }}</title>
  <link rel="stylesheet" href="{{ asset('vendor/bootstrap/dist/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ asset('vendor/@fontsource/freckle-face/index.min.css') }}">
  <link rel="stylesheet" href="{{ asset('css/default.css') }}">
  {% block stylesheets -%}
    <link rel="stylesheet" href="{{ asset('css/nav.css') }}">
    <link rel="stylesheet" href="{{ asset('css/page.css') }}">
  {%- endblock %}
  {{ importmap('website') }}
</head>
<body>

{% block body %}{% endblock %}

{%- set current_datetime = app_clock.now() -%}
{%- set current_datetime_machine = current_datetime|date(constant('DATE_ATOM')) -%}
{%- set current_datetime_human = current_datetime|format_datetime(pattern='yyyy-MM-dd, HH:mm:ss z') -%}
<footer>
  <p>
    <b>Server Time:</b>
    <time datetime="{{ current_datetime_machine }}">{{ current_datetime_human }}</time>
    <b>Game Engine version:</b>
    <code>{{ app_version() }}</code>
  </p>
</footer>
</body>
</html>
